<h6>Lugares para conocer...</h6>
<section>
    <div class="row">
        <div class="col-sm-6">
            <div class="card mycard">
                <img class="card-img-top" src="../../../assets/big-ben.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Londres</h5>
                    <p class="card-text">Londres  es la capital de Inglaterra y del Reino Unido, y la mayor ciudad y área urbana de Gran Bretaña y de toda la Unión Europea.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card mycard">
                <img class="card-img-top" src="../../../assets/edimburgo.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Edinburgo</h5>
                    <p class="card-text">Edimburgo es la capital de Escocia y es famosa por su tradición, su cultura y sus festivales</p>
                </div>
            </div>
        </div>
    </div>
</section>